.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(1) {
content: url("https://i.postimg.cc/T1HgzPtb/SIAM-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(2) {
content: url("https://i.postimg.cc/mrGCfJym/SYDNEY-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(3) {
content: url("https://i.postimg.cc/fRSfhxnR/BULLSEYE-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(4) {
content: url("https://i.postimg.cc/cLftmTGw/KHMER-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(5) {
content: url("https://i.postimg.cc/76ZCqkGn/CAMBODIA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(6) {
content: url("https://i.postimg.cc/TYDKdQwF/CALIFORNIA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(7) {
content: url("https://i.postimg.cc/J7JymPtg/ISRAEL-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(8) {
content: url("https://i.postimg.cc/XvpJPgTs/TAIWAN-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(9) {
content: url("https://i.postimg.cc/9MyW3g1Y/KENTUCKY-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(10) {
content: url("https://i.postimg.cc/52G1XWRm/SINGAPORE-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(11) {
content: url("https://i.postimg.cc/WpnvMkyz/NEVADA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(12) {
content: url("https://i.postimg.cc/0NDgrMm8/PCSO-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(13) {
content: url("https://i.postimg.cc/bvQMqXcr/OREGON-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(14) {
content: url("https://i.postimg.cc/Pqk336pj/SAIGON-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(15) {
content: url("https://i.postimg.cc/0rRDk4q5/HONGKONG-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(16) {
content: url("https://i.postimg.cc/h4pGK6c2/CANADIA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(17) {
content: url("https://i.postimg.cc/N0qsNwkj/JAPAN-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(18) {
content: url("https://i.postimg.cc/zvc5Tmf5/CAROLINA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(19) {
content: url("https://i.postimg.cc/3Jk3YwLw/CHINA-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(20) {
content: url("https://i.postimg.cc/6pdJp4CB/SYDNEYNIGHT-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(21) {
content: url("https://i.postimg.cc/7Y2jKJsS/TOTOMACAU-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(22) {
content: url("https://i.postimg.cc/rzXnBgnx/NEWYORK-POOLS.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(23) {
content: url("https://i.postimg.cc/fRDGtSkv/Icon-Game-Fajartoto-Pragmatic-Play-2.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(24) {
content: url("https://i.postimg.cc/3wbVcL1L/Icon-Game-Fajartoto-Habanero.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(25) {
content: url("https://i.postimg.cc/ydM5Vkwc/Icon-Game-Fajartoto-IDN-Slot.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(26) {
content: url("https://i.postimg.cc/7YycdJ1y/Icon-Game-Fajartoto-ISoft-Bet.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(27) {
content: url("https://i.postimg.cc/P5X7rGF3/Icon-Game-Fajartoto-Micro-Gaming-Slot.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(28) {
content: url("https://i.postimg.cc/zBgtPqVB/Icon-Game-Fajartoto-Baccarat.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(29) {
content: url("https://i.postimg.cc/3r2fXrsf/Icon-Game-Fajartoto-Dice-6.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(30) {
content: url("https://i.postimg.cc/4347Yj48/Icon-Game-Fajartoto-24-Manual.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(31) {
content: url("https://i.postimg.cc/hvtpM20M/Icon-Game-Fajartoto-24-Spin.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(32) {
content: url("https://i.postimg.cc/3xft8kGN/Icon-Game-Fajartoto-Roulette.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(33) {
content: url("https://i.postimg.cc/MGGmgqrw/Icon-Game-Fajartoto-Sicbo-Dice.png") !important;
}
.gameicon .owl-wrapper-outer .owl-wrapper .owl-item:nth-child(34) {
content: url("https://i.postimg.cc/bYMg0wk7/Icon-Game-Fajartoto-Head-Tail.png") !important;
}
